# Exploratory Data Analysis (EDA) on Bike Sales Dataset

In [25]:
import pandas as pd

df = pd.read_csv("../../data/Sales.csv", index_col=0, parse_dates=True)

In [26]:
df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [27]:
df.groupby("Country")["Revenue"].sum().sort_values(ascending=False)

Country
United States     27975547
Australia         21302059
United Kingdom    10646196
Germany            8978596
France             8432872
Canada             7935738
Name: Revenue, dtype: int64

In [28]:
df.groupby("Country")["Revenue"].sum().sort_values(ascending=True)

Country
Canada             7935738
France             8432872
Germany            8978596
United Kingdom    10646196
Australia         21302059
United States     27975547
Name: Revenue, dtype: int64

In [ ]:
df.groupby("Sub_Category")["Revenue"].sum().sort_values(ascending=False)

Sub_Category
Road Bikes           33363061
Mountain Bikes       21123526
Touring Bikes         7295547
Helmets               5741081
Tires and Tubes       4670902
Jerseys               4113742
Shorts                1740710
Bottles and Cages     1409174
Fenders               1245733
Hydration Packs        990406
Vests                  949063
Gloves                 871419
Caps                   548777
Bike Racks             517800
Bike Stands            344075
Cleaners               198821
Socks                  147171
Name: Revenue, dtype: int64

In [30]:
df.groupby("Sub_Category")["Order_Quantity"].sum().sort_values(ascending=False)

Sub_Category
Tires and Tubes      514051
Bottles and Cages    241726
Helmets              181606
Jerseys               88125
Caps                  67268
Fenders               62138
Gloves                39978
Cleaners              27574
Shorts                27168
Hydration Packs       19914
Road Bikes            19771
Socks                 17678
Vests                 14526
Mountain Bikes        11992
Bike Racks             4741
Touring Bikes          4648
Bike Stands            2412
Name: Order_Quantity, dtype: int64

In [32]:
df["Sub_Category"].value_counts()

Sub_Category
Tires and Tubes      33870
Bottles and Cages    15876
Road Bikes           13430
Helmets              12158
Mountain Bikes        8854
Jerseys               6010
Caps                  4358
Fenders               4032
Touring Bikes         3698
Gloves                2686
Cleaners              1802
Shorts                1794
Hydration Packs       1334
Socks                 1122
Vests                  964
Bike Racks             592
Bike Stands            456
Name: count, dtype: int64

In [33]:
df.groupby("Month")["Revenue"].sum().sort_values(ascending=False)

Month
December     9086931
June         9043008
May          8836763
April        7602750
March        7347164
January      7005895
February     6834583
November     6244298
October      5995079
September    5841885
July         5721459
August       5711193
Name: Revenue, dtype: int64

In [ ]:
df.groupby("Year")["Order_Quantity"].sum()

Year
2011      5260
2012      5354
2013    294787
2014    379585
2015    289517
2016    370813
Name: Order_Quantity, dtype: int64